<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Key0" value="0" />
		<add key="Key1" value="1" />
		<add key="Key2" value="2" />
	</appSettings>
	<connectionStrings>
		<add name="Pubs"
			 connectionString="Data Source=C:\Users\jacom\Documents\LearnC#\CodingTracker\db\pub.db"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>